# Node modules
node_modules/
.next/
out/
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor and dependency cache
.vscode/
.idea/
.npm/
